{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}
<title>{% block title %}Poster | Blog | Search{% endblock title %}</title>
{% block css %}
<style>
  .crayon {
    background: #ebebeb;
  }
</style>
{% endblock css %}
{% block body %}
<main class="crayon py-4">
  <div class="container">
    <div class="row">
    {% if allposts|length < 1  %}
    hi
    {% else %}
    <h2 class="mb-3">All Posts</h2>

      {% for post in allposts %}
      <div class="">
        <div
          class="row g-0 rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative shadow-lg border p-1 mb-3 bg-white rounded">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ post.category }}</strong>
            <h3 class="mb-0">{{ post.title}}</h3>
            <div class="mb-1 text-muted">{{ post.timestamp }}</div>
            <p class="card-text mb-auto">{{ post.content |safe|escape| truncatechars:300}}</p>
            <a href="/blog/{{post.slug}}/" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
              aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
            </svg>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</main>
{% endblock body %}