{% extends 'base.html' %}
{% block title %}{{user.username}}({{user.first_name}} {{user.last_name}}){% endblock title %}
{% load static %}
{% block css %}
<style>
  @media screen and (max-width:1000px) {
    .divider {
      display: none;
    }

  }

  input[type="file"] {
    display: none;
  }

  .popup {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup img {
    width: 100%;
    height: auto;

    border-radius: 50%;
  }

  /*End style*/
</style>
{% endblock css %}

{% block body %}
<main class="bg-dark text-light row mx-0 py-5">
  <div class="divider" style="width:20px"></div>
  <div class="col px-4 mt-4 bg-dark col col-lg-3">
    <div class="" id="user-details">
      <div class="bg-dark row ">
        <div class="popup col-2 col-lg-12 col-sm-2  p-0">
          {% if profile.display_pic %}
          <img src="{{ profile.display_pic.url}}" width="400" height="400">

          {% else %}
          <img src="{% static 'logo/favicon.png' %}" class="" alt="...">
          {% endif %}
        </div>
        <div class="col bg-dark text-light col col-10 col-lg-12 p-2 px-3 col-sm-10">
          <h3 class="">{{user.first_name}} {{user.last_name}}</h3>
          <h4>{{user.username}}</h4>
        </div>
      </div>
      <div class="col bg-dark  ">
        <h6 class="mt-3">{{profile.bio}}</h6>
        <h6><i class="fa fa-building" aria-hidden="true"></i> {{profile.organisation}}</h6>
        <h6><i class="fas fa-map-marker-alt"></i> {{profile.country}}</h6>
        <ul class="navbar-nav">

          {% if user.email %}
          <li class="nav-item text-truncate mb-1"><a href="mailto:{{user.email}}" target="_blank"
              class=" text-decoration-none text-light"><i class="far fa-envelope"></i> {{user.email}}</a></li>
          {% endif %}
          {% if profile.facebook %}
          <li class="nav-item text-truncate mb-1"><a href="{{profile.facebook}}" target="_blank"
              class=" text-decoration-none text-light"><i class="fab fa-facebook"></i> {{profile.facebook}}</a></li>
          {% endif %}
          {% if profile.instagram %}
          <li class="nav-item text-truncate mb-1"><a href="{{profile.instagram}}" target="_blank"
              class=" text-decoration-none text-light"><i class="fab fa-instagram"></i> {{profile.instagram}}</a></li>
          {% endif %}
          {% if profile.github %}
          <li class="nav-item text-truncate mb-1"><a href="{{profile.github}}" target="_blank"
              class=" text-decoration-none text-light text-light"><i class="fab fa-github"></i> {{profile.github}}</a></li>
          {% endif %}
          {% if profile.twitter %}
          <li class="nav-item text-truncate mb-1">
            <a href="{{profile.twitter}}" target="_blank" class=" text-decoration-none text-light"><i class="fab fa-twitter"></i>
              {{profile.twitter}}</a>
          </li>
          {% endif %}
          {% if profile.website %}
          <li class="nav-item text-truncate mb-1"><a href="{{profile.website}}" class=" text-decoration-none text-light"><i
                class="fas fa-globe-asia"></i> {{profile.website}}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container mt-5 col-lg-8">
    <h2 class="">Posts</h2>
    {% if allPosts.count > 0 %}
    {% for post in allPosts %}
    <div
      class="row no-gutters border-top  overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-2 position-relative  bg-dark  p-1 col-lg-12 mx-auto">
      <div class="col p-2 d-flex flex-column position-static   justify">
        <strong class="d-inline-block mb-2 text-link text-uppercase">{{post.category}}</strong>
        <h5 class="mb-1"><a href="/blog/{{post.slug}}" class="text-link">{{ post.title }}</a></h5>
        <div class="mb-1 ">{{post.timestamp}}</div>

      </div>

    </div>
    {% endfor %}
  </div>
  {% else %}
  <h3>No Posts Yet</h3>


  {% endif %}
</main>


{% endblock body %}
{% block script %}
<script>


  $("#edit-user-details").hide()
  $("#edit-details").click(function () {
    $("#user-details").hide()
    $("#edit-user-details").show();
  })
  $("#cancel-changes").click(function () {
    $("#user-details").show();
    $("#edit-user-details").hide();
  })
  let previews = document.getElementsByClassName('previews');
  Array.from(previews).forEach((element) => {
    element.innerHTML = element.innerText;
    console.log("hixzzc");
  })

</script>

{% endblock script %}