{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block Meta %}
<meta property='og:title' content='{{post.title}}' />
{% if post.thumbnail %}
<meta property='og:image' content='{{post.thumbnail.url}}' />
{% else %}
<meta property='og:image' content='https://source.unsplash.com/300x400/?{{ post.category }}' />
{% endif %}
<meta property='og:description' id="meta-location" content='{{post.content|truncatewords:30}}' />
<meta property='og:url' content='http://127.0.0.1:8000/blog/{{post.slug}}/' />
{% endblock Meta %}

{% block title %}{{ post.title }}{% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'style/blogPost.css'%}">
<link rel="stylesheet" href="{% static 'prism/prism.css'%}">
<style>
  p a {
    color: #ffffff !important;
    text-decoration: underline rgb(160, 159, 159);
  }

  article p {
    text-align: justify;
  }

  .popup {
    margin: 15px 0;
    border-radius: 20px;
    background: #212529;
    box-shadow: 8px 8px 12px #0d0f10,
      -8px -8px 12px #353b42, inset 5px 5px 12px #0d0f10,
      inset -5px -5px 12px #353b42;
    transition: all .2s linear;
    /* border: 5px solid #212529; */
  }

  .social-btn {
    background: #212529;

    border-radius: 50%;
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in-out;
  }

  .social {
    background: #212529;
    box-shadow: 5px 5px 12px #0d0f10,
      -5px -5px 12px #353b42;
    /* border-radius: 50%; */
    padding: 10px;
    border-radius: 10px;
    /* border: 10px solid #212529; */
  }

  .social-btn:hover {

    box-shadow: inset 5px 5px 12px #0d0f10,
      inset -5px -5px 12px #353b42;
    opacity: 0.8;
  }

  .text-justify {
    text-align: justify !important;
    font-weight: 100;
  }

  .outline-none {
    outline: none !important;
    box-shadow: none;
  }

  .text-link {
    transition: all 0.1s linear;
  }

  .text-link:hover {
    color: #15181b;
  }

  /* main::-webkit-scrollbar {
    display: none;
  } */
</style>
{% endblock css %}

{% block body %}
<section class="bg-dark text-light d-flex justify-content-center" id="blogs">

  <div class="container py-5 m-0 p-0 ">
    <div class="row g-5 mx-auto ">
      <div class="col-lg-9 py-1 mx-0 px-2">
        <article class="blog-post control-img">
          <h2 class="h2" title="Post Title: {{post.title}}">{{post.title}}</h2>
          <h6 class="fst-italic " title="Post Sub Title">{{post.subtitle}}</h6>
          <p class=" blog-post-meta text-muted"><small>{{post.timestamp}} by <span class="">{{ post.author }}
                ({{post.views}}
                views so far</span>)</small></p>
          <hr class="m-0 p-0">
          <p class="pt-2 control-img text-sm-left" style="max-width: 100%;">
            {{ post.content|safe }}
          </p>
        </article>
        <hr>
        <nav class="blog-pagination mt-4 d-flex align-items-center col-md-5 justify-content-end w-100"
          aria-label="Pagination">
          <p class="text-light m-0 d-flex align-items-center" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" title="Comment">
            <i class="far fa-comment fa-2x"></i> &nbsp;<span>{{comments.count}}</span>
          </p>
          <!-- <p class="text-light m-0 d-flex align-items-center ms-3" type="button"><i class="far fa-thumbs-up fa-2x"></i>
          </p> -->
        </nav>
      </div>
      <div class="col-lg-3 col-12">
        <div class="position-sticky " style="top: 5.6rem;">
          <h4 class="fst-italic">About the Author</h4>
          <div class="p-3 bg-dark popup">
            <div class="row d-flex align-items-center">
              <div class="col-3 col-md-2 col-lg-7 my-2 mx-auto">
                {% if author.profile.display_pic %}
                <img src="{{ author.profile.display_pic.url}}" class="card-img-top rounded-circle mw-100"
                  alt="{{author.first_name}} Avatar" title="avatar">
                {% else %}
                <img src="{% static 'logo/favicon.png' %}" class="card-img-top rounded-circle" alt="Avatar">
                {% endif %}
              </div>
              <div class="col-9 col-md-10 col-lg-12">
                <h5 class="fst-italic" title="{{author.first_name}} {{author.last_name}}"><a
                    href="/usersettings/{{author}}/" class="text-decoration-none text-light">{{author.first_name}}
                    {{author.last_name}}</a></h5>

                <p class="mb-0" title="Organision">{{author.profile.organisation}}</p>
              </div>
              <div class="mt-2">
                <p
                  class="text-justify text-center m-0 p-0 d-flex mt-2 align-items-center justify-content-around flex-wrap">
                  {% if author.email %}
                  <a href="mailto:{{author.email}}" class="text-light p-2" target="_blank"
                    title="mail me: {{author.email}}"><i class="far fa-envelope"></i></a>
                  {% endif %}
                  {% if author.profile.facebook %}
                  <a href="{{author.profile.facebook}}" class="text-light p-2 link" target="_blank"
                    title="reach me through facebook"><i class="fab fa-facebook"></i></a>
                  {% endif %}
                  {% if author.profile.instagram %}
                  <a href="{{author.profile.instagram}}" class="text-light p-2 link" target="_blank"
                    title="reach me through instagram"><i class="fab fa-instagram"></i></a>
                  {% endif %}
                  {% if author.profile.github %}
                  <a href="{{author.profile.github}}" class="text-light p-2 link" target="_blank"
                    title="find me on Github "><i class="fab fa-github"></i></a>
                  {% endif %}
                  {% if author.profile.twitter %}
                  <a href="{{author.profile.twitter}}" class="text-light p-2 link" target="_blank"
                    title="reach me through Linkedin"><i class="fab fa-twitter"></i></a>
                  {% endif %}
                  {% if author.profile.website %}
                  <a href=" {{author.profile.website}}" class="text-light p-2 link"
                    title="reach me through my personal website"><i class="fas fa-globe-asia"></i></a>
                  {% endif %}
                </p>
              </div>
              <p class="mb-0 mt-1 text-justify">{{author.profile.bio}}</p>
            </div>
          </div>
          <div class="social d-flex mt-2 flex-column" style="z-index: 100;">
            <h5>Share this blog</h5>
            <div class="d-flex mt-2 align-items-center justify-content-around flex-wrap" style="z-index: 100;">
              <a rel="external nofollow" class="social-btn text-decoration-none"
                href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/blog/{{post.slug}}/"
                style="color: #215cda;" target="_blank" title="Share on facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="https://api.whatsapp.com/send?text=http://127.0.0.1:8000/blog/{{post.slug}}/&description={{post.title}}"
                style="color: #25d366;" class="social-btn text-decoration-none" target="_blank"
                title="Share on whatsapp"><i class="fab fa-whatsapp"></i></a>
              <a href="https://twitter.com/intent/tweet/?text={{post.title}}&url=http://127.0.0.1:8000/blog/{{post.slug}}/&hashtags={{post.category}}"
                style="color: #55acee;" class="social-btn text-decoration-none" target="_blank"
                title="Share on twitter"><i class="fab fa-twitter"></i></a>
              <a href="https://pinterest.com/pin/create/bookmarklet/?url=http://127.0.0.1:8000/blog/{{post.slug}}/&description={{post.title}}"
                style="color: #d61016;" class="social-btn text-decoration-none" target="_blank"
                title="Share on pinterest"><i class="fab fa-pinterest"></i></a>
              <a href="https://www.linkedin.com/sharing/share-offsite/?url=http://127.0.0.1:8000/blog/{{post.slug}}/"
                style="color: #0082ca;" class=" social-btn text-decoration-none" target="_blank"
                title="Share on linkedin"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="offcanvas offcanvas-start p-0  bg-dark text-light m-0" data-bs-scroll="true" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel" style="min-width: 35%;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Responses ({{ comments.count }})</h5>
          <p type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></p>
        </div>
        <div class="offcanvas-body">
          <div class="col-12 mb-4 bg-darkshadow-sm">
            <div class="col">
              <!-- comments -->
              <button type="button" class="btn btn-outline-primary btn-sm" id="comment">Comment</button>
              <div class="mb-4 mt-2">
                <div class="card-body bg-dark border" id="comment-form">
                  <h3>Leave a comment</h3>
                  <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary btn-sm mt-3">Comment</button>
                    <button type="button" class="btn btn-outline-primary btn-sm mt-3" id="hideComment">cancel</button>
                  </form>
                </div>
              </div>

              {% for comment in comments %}
              <hr>
              <div class="comments mt-2 rounded bg-dark ">
                <h6 class="d-flex align-items-center justify-content-start">
                  <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>&nbsp;
                  {{ comment.name }}&nbsp; <span style="font-size: 10px; color: #b4b4b6;">
                    ({{ comment.created_on |naturaltime }})
                  </span>
                </h6>
                <div class="font-weight-bold ps-2 text-justify">
                  {{ comment.body | linebreaks }}

                  <button type="button" class="btn btn-link text-light btn-sm"
                    id="make-reply{{ comment.id }}">Reply</button>
                  {% if comment.replies.count > 0 %}
                  {% if comment.replies.count == 1 %}
                  <button type="button" class="btn btn-link text-light btn-sm " id="show-reply{{ comment.id }}"> Show
                    {{comment.replies.count}} Reply</button>
                  {% else %}
                  <button type="button" class="btn btn-link text-light btn-sm " id="show-reply{{ comment.id }}"> Show
                    {{comment.replies.count}} Replies</button>
                  {% endif %}
                  {% endif %}

                  <div class="my-4">
                    <div class="card-body bg-dark border" id="reply-form{{ comment.id }}">
                      <h5>Reply for this comment</h5>
                      <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form.as_p }}
                        {% csrf_token %}
                        <!-- Hidden input for parent comment.id -->
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <input class="btn btn-outline-primary  btn-sm" type="submit" value="Reply">
                        <button type="button" class="btn btn-outline-primary btn-sm"
                          id="hide-reply{{ comment.id }}">Cancel</button>
                      </form>
                    </div>
                  </div>
                  <div class="card bg-dark ps-3" id="reply-box{{ comment.id }}">

                    {% for reply in comment.replies.all %}
                    <div class="col mb-3">
                      <h6 class="font-weight-bold mb-0">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;{{ reply.name }}
                        <span style="font-size: 10px; color: #b4b4b6;">
                          {{ reply.created_on|naturaltime }}
                        </span>
                      </h6>
                      <div class="ps-3 text-justify">{{ reply.body }}</div>
                    </div>
                    {% empty %}
                    {% endfor %}
                    <button type="button" class="btn text-light btn-link" id="hide-replies{{ comment.id }}">Hide all
                      replies</button>
                  </div>

                </div>
              </div>
              {% empty %}
              <h4>There are no comments yet.</h4>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock body %}

{% block script %}
<script src="{% static 'prism/prism.js' %}"></script>

<script>
  var commentBtn = document.querySelector("#comment")
  var commentForm = document.querySelector("#comment-form")
  var hide = document.querySelector("#hideComment")
  commentForm.style.display = "none"

  commentBtn.addEventListener('click', function () {
    commentForm.style.display = "block"
    commentForm.classList.add("card")
    commentBtn.setAttribute('disabled', "")
  })

  hide.addEventListener('click', function () {
    commentForm.style.display = "none"
    commentBtn.style.display = 'block'
    commentBtn.removeAttribute('disabled');
  })

  $("textarea").attr("rows", 3)

  {% for comment in comments %}
  console.log(comment.id);
  let makeReply{{ comment.id }} = document.querySelector("#make-reply{{ comment.id }}")
  let replyForm{{ comment.id }} = document.querySelector("#reply-form{{ comment.id }}")
  let hideReply{{ comment.id }} = document.querySelector("#hide-reply{{ comment.id }}")
  replyForm{{ comment.id }}.style.display = 'none'
  makeReply{{ comment.id }}.addEventListener('click', function () {
    replyForm{{ comment.id }}.style.display = 'block'
    replyForm{{ comment.id }}.classList.add("card")
    makeReply{{ comment.id }}.setAttribute('disabled', "")
  })

  hideReply{{ comment.id }}.addEventListener('click', function () {
    makeReply{{ comment.id }}.removeAttribute('disabled');
    replyForm{{ comment.id }}.style.display = 'none'
  })
  let showReply{{ comment.id }} = document.querySelector("#show-reply{{ comment.id }}")
  let replyBox{{ comment.id }} = document.querySelector("#reply-box{{ comment.id }}")
  let hideReplies{{ comment.id }} = document.querySelector("#hide-replies{{ comment.id }}")
  replyBox{{ comment.id }}.style.display = "none"
  {% if comment.replies.count > 0 %}


  showReply{{ comment.id }}.addEventListener('click', function () {
    replyBox{{ comment.id }}.style.display = 'block'
    showReply{{ comment.id }}.setAttribute('disabled', "")
  })

  hideReplies{{ comment.id }}.addEventListener('click', function () {
    replyBox{{ comment.id }}.style.display = 'none'
    showReply{{ comment.id }}.removeAttribute('disabled');
  })
  {% endif %}
  {% endfor %}
</script>


{% endblock script %}