{% extends 'base.html' %}
{% load static %}
{% block blogactive %}active{% endblock blogactive %}


{% block title %}Poster | All Posts{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'style/home.css' %}">
<link rel="stylesheet" href="{% static 'aos/aos.css' %}">
<style>

</style>
{% endblock css %}

{% block body %}
<main class="bg-dark text-light py-5">
  <div class="container">
    <h2>All Blogs</h2>
    {% for post in allPosts %}
    <div
      class="row no-gutters border rounded overflow-hidden flex-md-row  shadow-sm h-md-250 my-4 position-relative bg-dark p-1 mx-auto ps-3"
      data-aos="fade-up">
      <div class="col d-flex flex-column position-static col-10 p-2">
        <strong class="d-inline-block mb-2 text-link text-uppercase">{{post.category}}</strong>
        <h3 class="mb-0"><a href="/blog/{{post.slug}}" class="text-decoration-none text-light">{{ post.title }}</a></h3>
        <div class="mb-1 ">{{post.timestamp}}</div>
        <div class="card-text mb-3 control-img overflow-hidden">
          <p class="previews text-justify overflow-hidden" style="
        max-block-size: 50px;">{{post.content|escape|safe|truncatewords:50}}</p>
        </div>
        <div class="col-12">
          <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
        </div>
      </div>
      <div class="col-auto d-none d-lg-block col-2 p-0 m-0">
        {% if post.thumbnail %}
        <img src="{{ post.thumbnail.url }}" alt="Thumbnail" height="250"style="width:100%; max-height: 250px">
        {% else %}
        <img src="https://source.unsplash.com/300x600/?{{ post.category }}" class="" alt="..." height="250"style="width:100%; max-height: 250px">
        {% endif %}       
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock body %}

{% block script %}

<script src="{% static 'scripts/home.js' %}"></script>
{% endblock script %}