{% extends 'base.html' %}
{% block title %}Reset your password{% endblock %}
{% load static %}
{% block css %}
<style>
  /* 
  input{
    
  background-color: #161b22 !important;
  color: #fff !important;
  border: 1px solid #807f7f !important;
  outline: none;
  border-radius: 5px;
  } */
</style>
{% endblock css %}
{% block body %}
<div class="container">

  <div class="col-lg-10 mx-auto p-4 shadow-lg bg-black1 rounded text-light border my-4">
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to reset your password.</p>
    <form action="." method="post" class="form-signup needs-validation">{% csrf_token%}
      <div class="col">
        <div class="input-group mb-3">
          <span class="input-group-text bg-black2 text-light border">email</span>
          <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email"
            class="form-control bg-black2 text-light border" placeholder="Enter your registered email address">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-outline-success mt-2" id="save-changes"><i
              class="far fa-paper-plane"></i>
            Send
            e-mail</button>
        </div>
      </div>
  </div>
</div>
{% endblock %}