{% extends 'base.html' %}
{% block title %}Reset your password{% endblock %}
{% load static %}
{% block css %}
<style>
    .popup {
    margin: 15px 0;
    border-radius: 10px;
    background: #212529;
    box-shadow: 5px 5px 12px #0d0f10,
      -5px -5px 12px #353b42;
    transition: all .2s linear;
  }
</style>
{% endblock css %}
{% block body %}
<div class="container d-flex align-items-center justify-contents-center" style="min-height: 75vh">
  <div class="col-lg-10 mx-auto p-4 bg-dark text-light popup my-4">
   <!-- <div class="text-center"> <a href="/"><img src="{%static 'logo/favicon.png'%}" alt="poster logo" width=50 height=50></a>
   </div> -->
    <h2>Forgotten your password?</h2>
    <p>Enter your e-mail address to reset your password.</p>
    <form action="." method="post" class="form-signup needs-validation">{% csrf_token%}
      <div class="col">
        <div class="input-group mb-3">
          <span class="input-group-text bg-dark text-light border">email</span>
          <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email"
            class="form-control bg-dark border" placeholder="Enter your registered email address">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-outline-success mt-2" id="save-changes"><i
              class="far fa-paper-plane"></i>
            Send
            e-mail</button>
        </div>
      </div>
  </div>
</div>
{% endblock %}