{% extends 'base.html' %}
{% block title %}Reset Confirm{% endblock title %}
{% block body %}
{% block css %}
<style>
    .popup {
    margin: 15px 0;
    border-radius: 10px;
    background: #212529;
    box-shadow: 5px 5px 12px #0d0f10,
      -5px -5px 12px #353b42;
    transition: all .2s linear;
  }
</style>
{% endblock css %}
<div class="container d-flex align-items-center justify-contents-center" style="min-height: 75vh">

  <div class="col-lg-10 mx-auto p-4 bg-dark text-light popup">
    <h1>Reset your password <i class="fas fa-key"></i></h1>
    {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form action="" method="post" class="form-signup needs-validation"> {% csrf_token %}
      <div class="input-group"><label for="id_new_password1"
          class="input-group-text bg-dark text-light border d-none d-md-block d-print-block">Enter New
          password:</label> <input type="password" name="new_password1" autocomplete="new-password" required=""
          id="id_new_password1" class="form-control bg-dark  border" placeholder="Enter New Password"></div>
      <ol class="list-group my-3 list-group-numbered">
        <li class="bg-dark text-light "><small>password can’t be too similar to your other personal
            information.</small></li>

        <li class="bg-dark text-light "><small>password must contain at least 8 characters.</small></li>

        <li class=" bg-dark text-light "><small>password can’t be a commonly used password.</small></li>

        <li class="bg-dark text-light "><small>password can’t be entirely numeric.</small></li>

      </ol>

      <div class="input-group mb-1"><label for="id_new_password1"
          class="input-group-text  bg-dark text-light  border d-none d-md-block d-print-block">Re-enter new password
        </label>
        <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"
          class="form-control rounded bg-dark text-light  border" placeholder="Re-enter new password">
      </div>
      <div class="input-group">
        <button type="submit" class="btn btn-outline-success mt-2 col-md-5 col-lg-3 col" id="save-changes">Change my
          password</button>
      </div>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has
      already been used. Please request a new password reset.</p>
    {% endif %}
  </div>
</div>
{% endblock %}