{% extends 'base.html' %}
{% block title %}Reset Complete{% endblock title %}
{% block body %}
{% block css %}
<style>
    .popup {
    margin: 15px 0;
    border-radius: 10px;
    background: #212529;
    box-shadow: 5px 5px 12px #0d0f10,
      -5px -5px 12px #353b42;
    transition: all .2s linear;
  }
</style>
{% endblock css %}
<div class="container d-flex align-items-center justify-contents-center" style="min-height: 75vh">

  <div class="col-lg-10 mx-auto p-4 bg-dark popup">
    <h1>Password set</h1>
    <p>Your password has been set. You can <a href="/" class="text-link">Return To Home</a></p>
  </div>
</div>
{% endblock %}