* {
  scroll-behavior: smooth;
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
  transition: transform 0.25s;
  will-change: transform;
  z-index: -1;
}

.row {
  /* background: #FFF; */
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.row:last-child {
  margin-bottom: 0;
}

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}

.previews::-webkit-scrollbar,
pre[class*="language-"]::-webkit-scrollbar {
  display: none;
}