{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <link rel="shortcut icon" href="{% static 'logo/favicon.png' %}" type="image/x-icon">
  <title>{% block title %}{% endblock title %}</title>
  {% block css %}{% endblock css %}

  <style>
    body {
      min-height: 100vh;
    }

    /* .container-fluid img {
      max-width: 40px;
    } */

    .active {
      display: inline-block;
      border-bottom: 0.5px solid #fff;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 50px;
      height: 50px;
      top: 0;

    }

    .navbar-brand::before {
      position: absolute;
      content: "";
      z-index: 10;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url('{% static "logo/favicon.png" %}') no-repeat center center/cover;
      /* filter: hue-rotate(20deg); */
    }

    .border {
      border: 1px solid #66696d !important;
    }


    .text-link {
      color: #58a6ff !important;
      text-decoration: none;
    }

    .text-link:hover {
      color: #58a6ff !important;
      text-decoration: underline;
    }

    /* START LOADER CSS */
    .fullpage-loader {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: 9999;
      opacity: 1;
      transition: opacity .5s;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .fullpage-loader__logo {
      display: block;
      text-align: center;
      background: rgb(209, 209, 209);
      position: relative;
    }

    .fullpage-loader--invisible {
      opacity: 0;
    }

    .box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .loader-image {
      /* position:relative; */
      text-align: center;
      max-width: 150px;
      height: auto;
      height: auto;
    }

    .spinner {
      max-width: 300px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg), center;
      }

      50% {
        transform: rotate(180deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .offcanvas-body .form-control {
      width: 100%;
    }
    .form-control {
      border: 1px solid #66696d;
      background: none;
      color: #c9d1d9;
      font-size: small;
      width: 91%;
    }

    .form-control::placeholder {
      color: #8a8a8a;
    }

    .form-control:focus {
      background: none;
      border: none;
      color: #c9d1d9;
    }

    .offcanvas-body::-webkit-scrollbar {
      display: none;
    }
  </style>
</head>

<body class="bg-dark">
  <!-- START LOADER HTML -->
  <div class="fullpage-loader bg-dark">
    <div class="fullpage-loader__logo">
      <div class="box"><img src="{% static 'logo/p1.png' %}" alt="" class="loader-image"></div>
      <div class="box"><img src="{% static 'logo/p2.png' %}" alt="" class="loader-image spinner"></div>
    </div>
  </div>
  <!-- END LOADER HTML -->
  <header class="border-bottom">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid px-4 ">
        <a class="navbar-brand logo" href="/"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% block homeactive %}{% endblock homeactive %}" aria-current="page" href="/"><i
                  class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block blogactive %}{% endblock blogactive %}" aria-current="page" href="/blog/"><i
                  class="fas fa-server"></i> Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block contactactive %}{% endblock contactactive %}" aria-current="page"
                href="/contact/"><i class="fa fa-question-circle" aria-hidden="true"></i> Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block aboutactive %}{% endblock aboutactive %}" aria-current="page"
                href="/about/"><i class="far fa-address-card"></i> About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block composeactive %}{% endblock composeactive %}" aria-current="page"
                href="/blog/composeblog/"><i class="far fa-edit"></i> Compose Blog</a>
            </li>
            <li class="nav-item">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav mb-2">
            <li class="nav-item ">
              <form class="d-flex" action="/search/" method="GET">{% csrf_token %}
                <input class="form-control flex-auto me-1 border-success input-sm" type="search" placeholder="Search"
                  aria-label="Search" name="query" id="query" style="border: 1px solid #50555c;">
                <button class="btn btn-outline-success btn-sm" type="submit"><i class="fa fa-search"
                    aria-hidden="true"></i></button>
              </form>
            </li>
            <li class="nav-item mt-2 mx-md-2 mt-md-0">
              {% if request.user.is_authenticated %}
              <div class="dropdown mx-1">
                <a class="btn btn-outline-primary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="far fa-user"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end bg-dark p-3 border" aria-labelledby="dropdownMenuLink">
                  <li class="py-2"><a class="text-decoration-none text-light d-block"
                      href="/usersettings/{{request.user}}/"><i class="fas fa-cog"></i>
                      {{request.user}}</a>
                  </li>
                  <li class="py-2"><a class="text-decoration-none text-light d-block" href="/blog/composeblog/"><i
                        class="far fa-edit"></i> Compose Blog</a></li>
                  <li class="py-2"><a class="text-decoration-none text-light d-block" href="/logout/"><i
                        class="fas fa-sign-out-alt"></i>
                      Logout</a></li>
                </ul>
              </div>
              {% else %}
              <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasSignUp" aria-controls="offcanvasRight"><i class="fas fa-user-plus"></i>
                SignUp</button>

              <div class="offcanvas offcanvas-end  bg-dark text-light" tabindex="-1" id="offcanvasSignUp"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasRightLabel">Signup</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body form-group-sm">
                  <a class="navbar-brand logo d-flex mx-auto mb-3" href="/"> </a>
                  <form class="form-signup needs-validation" id="otp-form" method="POST" action="/otp/">{% csrf_token %}
                    <div class="mb-2">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
                    </div>
                    <div class="mb-2">
                      <button type="submit" class="btn btn-success btn-sm" id="send-otp">Send Otp</button>
                      <small class="text-success" id="otp-sent-msg"></small>
                    </div>
                  </form>
                  <form class="form-signup needs-validation" method="POST" action="/signup/">{% csrf_token %}
                    <div class="row mb-1 bg-dark">
                      <div class="col-md-6 mb-1">
                        <label for="fName">First name</label>
                        <input type="text" class="form-control input-sm" id="fname" placeholder="First Name"
                          name="fname" required="">
                      </div>
                      <div class="col-md-6 mb-1 ">
                        <label for="lname">Last name</label>
                        <input type="text" class="form-control" id="lname" placeholder="Last Name" name="lname"
                          required="">
                      </div>
                    </div>
                    <div class="mb-1">
                      <label for="username">Username</label>
                      <div class="input-group border-none">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                          required="">
                      </div>
                      <small class="">Username can only contain numbers and alphabets</small>
                    </div>
                    <div class="mb-1">
                      <label for="otp">Enter OTP</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter otp" required="">
                      </div>
                    </div>

                    <div class="mb-1">
                      <label for="pass1">Enter Password</label>
                      <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Password"
                        required="">
                    </div>

                    <div class="mb-3">
                      <label for="pass2">Re-enter Password</label>
                      <input type="password" class="form-control" id="pass2" name="pass2"
                        placeholder="Confirm Password">
                    </div>
                    <button class="btn btn-outline-primary btn-block" type="submit">Sign up</button>
                  </form>
                </div>
              </div>
              <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasSignIn" aria-controls="offcanvasRight"><i class="fas fa-sign-in-alt"></i>
                SignIn</button>

              <div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasSignIn"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasRightLabel">Signin</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <form class="form-signin" method="POST" action="/login/">{% csrf_token %}
                    <a class="navbar-brand logo d-flex mx-auto" href="/"> </a>

                    <div class="mb-1  mt-4">
                      <label for="loginusername">Username</label>
                      <div class="input-group border-none">
                        <input type="text" class="form-control" id="loginusername" name="loginusername"
                          placeholder="Username" required="">
                      </div>
                    </div>
                    <div class="mb-1">
                      <label for="loginPassword">Enter Password</label>
                      <input type="password" class="form-control" id="loginPassword" name="loginPassword"
                        placeholder="Enter Password" required="">
                    </div>

                    <button class="btn btn-outline-primary mt-3" type="submit">Sign in</button>
                  </form>
                  <div class="mt-2">
                    <small>Do not have account <a class="text-link pe-auto cursor-pointer" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasSignUp" aria-controls="offcanvasRight" style="cursor: pointer;">
                        SignUp</a> or <a href="/password_reset/" class="text-link">forgot passwoord?</a></small>
                  </div>
                </div>
              </div>
              {% endif %}
            </li>
        </div>
      </div>
    </nav>
  </header>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
    <strong>Mesage: </strong>{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert"
      aria-label="Close"></button>
  </div>
  {% endfor %}


  {% block body %}{% endblock body %}


  <footer class="container-fluid bg-dark my-0 py-3  border-top">
    <p class="mb-0 text-center">© 2021 Poster.com</p>
    <p class="mb-0 text-center">
      <a href="#">Back to top</a>
    </p>
  </footer>
  </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>


{% block script %}{% endblock script %}
<script>
  window.setTimeout(function () {
    $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
      $(this).remove();
    });
  }, 3000);

  $(document).ready(function () {
    $('#otp-form').submit(function () { // On form submit event
      $.ajax({ // create an AJAX call...
        data: $(this).serialize(), // get the form data
        type: $(this).attr('method'), // GET or POST
        url: $(this).attr('action'), // the file to call
        success: function (response) { // on success..
          $("#send-otp").addClass("disabled")
          $("#otp-sent-msg").text(" !Otp Sent")
        },
        error: function (e, x, r) { // on error..
          console.log(e); // update the DIV
        }
      });
      return false;
    });
  });

  const loaderEl = document.getElementsByClassName('fullpage-loader')[0];
  document.addEventListener('readystatechange', (event) => {
    // const readyState = "interactive";
    const readyState = "complete";

    if (document.readyState == readyState) {
      // when document ready add lass to fadeout loader
      loaderEl.classList.add('fullpage-loader--invisible');

      // when loader is invisible remove it from the DOM
      setTimeout(() => {
        loaderEl.parentNode.removeChild(loaderEl);
      }, 2000)
    }
  });

  function mode() {
    if ($('#theme').prop('checked')) {
      $("section").removeClass("bg-dark").addClass("bg-light");
      $("section").removeClass("text-dark").addClass("text-light");
    } else {
      $("section").removeClass("bg-light").addClass("bg-dark");
      $("section").removeClass("text-light").addClass("text-dark");
    }
  }

</script>

</html>